.sidebar1 {
  background-color: white;
  padding: 1.5rem;
  border-radius: 5px;
  margin-bottom: 10px;
  border-color: rgb(139, 138, 138) !important;
}

.sidebar1 h2 {
    padding-bottom: 0.5rem;
    border-bottom: 1px solid gray;
}

.sidebar1 ul {
  list-style: none;
  margin-top: 1.25rem;
  margin-bottom: 0;
  padding: 0;
}

.sidebar1 ul li {
  margin-bottom: 0.6rem;
}

.sidebar1 .sidebarCatBtnWrapper:hover {
  background-color: #ff6600;
  .sidebarLink {
    color: white;
  }
}

.sidebar1 ul li button {
  background-color: white;
  text-align: left;

  padding: 0.5rem;
  width: 100%;

  border: 1px solid black;
  border-radius: 5px;
}

.sidebarCatBtn {
  padding-left: 1rem;
  flex-grow: 1;
  margin-right: 8px;
  text-align: left;
}

.sidebarCatBtnWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 8px 12px;
  border: none;
  background-color: #fff;
}

.sidebarLink {
  color: #ff6600;
  font-weight: bold;
  text-decoration: none;
}
