.breadcrumb {
    padding-left: 1rem;
}

.breadcrumb li {
    color: white !important;
    font-weight: bold;
    text-decoration: none;
}

.breadcrumb a {
    color: white;
    text-decoration: none;
    font-weight: 100;
}

.breadcrumb a:hover {
    text-decoration: underline;
}

.breadcrumb-item + .breadcrumb-item::before {
  content: "/";
  color: whitesmoke;
}
