.headingCat {
  background-color: #ff6600;
  border-radius: 5px;
  color: white;

  padding: 1rem;
}

.categoryCard {
  border: 1px solid gray;
  border-radius: 5px;

  height: 7.5rem;
  width: 7rem;

  transition: box-shadow 0.3s ease;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.categoryCard img {
  width: 100%;
  height: 4rem;
}

.categoryCard h6 {
  text-align: center;
  font-weight: bold;

  padding-top: 10px;
}

.categoryCard:hover {
  background-color: #ff6600;
  color: white;

  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
}
