.popularProductsHeading {
    background-color: #ff6600;
    border-radius: 5px;
    color: white;
}

.popularProductsHeading button {
    border: none;
    background-color: transparent;
    color: white;

    margin: 0px 10px;
}

.popularProductsHeading button:hover {
    border-bottom: 1.5px solid white;
    transition: all 0.1s ease-in-out;
}

.popularSelectBtn {
    border-bottom: 1.5px solid white !important;
}