.newsletter {
    position: relative;
}

.newsletter img {
    filter: brightness(95%);
    border-radius: 5px;
}

.newsletterText {
    color: white;

    position: absolute;
    transform: translate(-50%, -50%);
    top: 15rem;
    left: 18rem;
}

@media (max-width: 576px) {
  .newsletterText {
    font-size: 1rem;
    left: 8rem;
    top: 4rem;
    height: 5rem;
    width: 100%;
  }
  .newsletterText h1 {
    font-size: 1rem;
  }
  .neL {
    padding-left: 2rem;  
  }
  .newsletterEmail .MuiInputBase-root {
    height: 3rem !important;
    padding: none;
    width: 8rem;
  }
  .newsBtn {
    padding-top: 0.5rem;
  }
  .newsletter img {
    height: 17rem;
  }
}

.newsletterEmail .MuiInputBase-root {
  height: 3rem;
  font-size: 0.9rem;
  padding: 1 2rem;
  background: #fff;
  border-radius: 5px;
}

.newsletterEmail .MuiOutlinedInput-notchedOutline {
  border-color: #ccc;
}
.newsletterEmail:hover .MuiOutlinedInput-notchedOutline {
  border-color: #888;
}
.newsletterEmail
  .MuiOutlinedInput-root.Mui-focused
  .MuiOutlinedInput-notchedOutline {
  border: 1.5px solid #ff6600;
}

.Ecommerce {
    font-weight: bold;
    color: #ff6600;
}