.navBottomBtn {
  background-color: #ff6600;
  border: 1px solid #ff6600;
  color: white;
  border-radius: 5px;

  padding: 12px 16px;

}

.navBottomList {
    display: flex;
    align-items: center;
}

.navBottomMid {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 1rem;
}

.navBottomMid li button {
    border: none;
    background: transparent;

    font-weight: 500;
    padding: 5px 10px;
    border-radius: 5px;
}

.navBottomMid li button:active {
    background-color: rgb(230, 230, 230);
}


.helpC {
    height: 100%;
    display: flex;
    align-items: center;
}

.helpC1 {
    height: 0.6rem;
    font-weight: bold;
    color: #ff6600;
}

.helpC2 {
    height: 0.4rem;
    font-size: 10px;
}

.dropdown-menu li {
    color: rgb(75, 75, 75);
}

.megaMenu .dropdown-menu{
    width: max-content;
    height: auto;
}

.megaMenu .dropdown-menu h5 {
    color: #ff6600;
    font-weight: bold;
}

.megaMenu .dropdown-menu img {
    border-radius: 5px;
    width: 17rem;
}

.pages .dropdown-menu {
    height: auto;
}

.navBottomLink {
    text-decoration: none;
    color: black;
}