.sidebar2 {
  background-color: white;
  padding: 1.5rem;
  border-radius: 5px;
  border-color: rgb(139, 138, 138) !important;
}

.sidebar2 h2 {
    padding-bottom: 0.5rem;
    border-bottom: 1px solid gray;
}

.filterBtn {
  background-color: #ff6600;
  border: 1px solid #ff6600;
  color: white;
  border-radius: 5px;

  padding: 6px 22px 6px 14px;
}
