.top-row{ 
    background-color: #ff6600 !important;
}

.navBottomBtn {
  background-color: #ff6600;
  border: 1px solid white;
  color: white;
  border-radius: 25px;

  padding: 12px 14px;
}

.navBottomList {
    display: flex;
    align-items: center;
}

.navBottomMid {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 1rem;
}

.navBottomMidList {
    border: 1px solid #ff6600;
    border-radius: 25px;
}

.navBottomMid li button {
    border: none;
    background: transparent;

    font-weight: 500;
    padding: 5px 10px;
    border-radius: 5px;
}

.navBottomMid li button:active {
    background-color: rgb(230, 230, 230);
}


.helpBtn {
  background-color: #ff6600;
  border: 1px solid white;
  color: white;
  border-radius: 25px;

  padding: 12px 14px;

  cursor: pointer;
}

.helpC {
    height: 100%;
    width: 11.5rem;
    display: flex;
    align-items: center;
}

.helpC1 {
    height: 0.6rem;
    font-weight: bold;
    color: #ffffff;
}

.helpC2 {
    color: #ffffff;
    height: 0.4rem;
    
}

.helpC2 h6 {
    font-size: 9px !important;
}

.dropdown-menu li {
    color: rgb(75, 75, 75);
}

.megaMenu .dropdown-menu{
    width: max-content;
    height: auto;
}

.megaMenu .dropdown-menu h5 {
    color: #ff6600;
    font-weight: bold;
}

.megaMenu .dropdown-menu img {
    border-radius: 5px;
    width: 17rem;
}

.pages .dropdown-menu {
    height: auto;
}

.navBottomLink {
    text-decoration: none;
    color: black;
}

.text-black {
    color: black;
}

.dropdown.show .dropdown-toggle {
  background-color: gainsboro;
}

.dropdown .dropdown-toggle:hover {
  background-color: gainsboro;
  color: #000;
}
