.imgContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mainImgWrapper {
  position: relative;
  width: 400px;
  height: 400px;
  overflow: hidden;
}

.mainImg {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: transform 0.2s ease;
}

.mainImgWrapper:hover .mainImg {
  transform: scale(2);
  cursor: zoom-in;
}

.thumbnailRow {
  display: flex;
  gap: 10px;
  margin-top: 15px;
}

.thumbnail {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border: 2px solid transparent;
  cursor: pointer;
  transition: border 0.3s ease;
}

.thumbnail:active {
    border-color: #ff6600;
}

.imgContainer img {
  border-radius: 5px;
}